*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('/images/bg-desktop.svg');
    font-size: 15px;
    background-repeat: no-repeat;

    background-color: hsl(257, 40%, 49%);
    color: #fff;
    
}

 h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
 }

a{
    text-decoration: none;
    font-size: 18px;
    background: #fff;
    padding: 10px 60px;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
    
}

a:hover{
    background: hsl(277, 64%, 61%);
    cursor: pointer;
    color: #fff;
}

 .logo{
     margin: 50px 70px 0 70px;
 }

 .logo img{
     width: 15%;
 }

 .card{
     display: flex;
     margin: auto;
     margin:85px 70px 0 70px;
     
 }

 .card-info{
     flex-basis: 35%;
     padding-left: 50px;
     padding-top: 50px;
     display: flex;
     flex-direction: column;
     position: relative;
     
 }

.card-info p{
    font-size: 18px;
    font-weight: 400;
   
}
 .btn{
     margin-top: 30px;
 }


.socials{
    position: absolute;
    right: 0;
    bottom: 0;
}

.socials ul{
    display: flex;
}

.socials ul li{
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: 1px solid #fff;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
    
}

.socials ul li:hover{
    border: 1px solid hsl(277, 64%, 61%);
    cursor: pointer;
    color: hsl(277, 64%, 61%);
}
